<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-5 col-sm-5">
        <ul class="list-inline social">
          <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
          <li class="hidden-xs"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
          <li class="hidden-xs"><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>

      <div class="hidden-xs col-sm-3 text-center", id="legal">
        <%= link_to t('.legal'), legal_path %>
      </div>

      <div class="col-xs-7 col-sm-4 text-right">
        <div class="info">
          <p><%= t 'meta-title' %></p>
          <p><%= mail_to t('meta-mail') %></p>
        </div>
      </div>
    </div>
  </div>
</div>
